* {
	margin: 0;
	padding: 0;
}

#clock {
	position: relative;
	width: 300px;
	height: 426px;
	margin: 20px auto 0 auto;
	background: url(../images/clockface.jpg);
	list-style: none;
	}

#sec, #min, #hour {
	position: absolute;
	width: 15px;
	height: 420px;
	top: -15px;
	left: 138px;
	}

#sec {
	background: url(../images/sechand.png);
	z-index: 3;
	}
   
#min {
	background: url(../images/minhand.png);
	z-index: 2;
	}
   
#hour {
	background: url(../images/hourhand.png);
	z-index: 1;
	}
	
p {
	text-align: center; 
	padding: 10px 0 0 0;
	}
#Preview {
	position: absolute;
	top: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 7;}
#LogoEposrPeview, #LogoPeview, #PreviewWords {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;}
#LogoPeview {
	bottom: 0px;}
#PreviewWords {
	top: 166px;}
/*
#Preview span {
	font-family: 'Rubik', sans-serif;
	font-weight:400;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 166px;
	color: rgb(250, 250, 250);
	padding: 0px 15px;
	text-align: center;
	font-size: 1.3em;}*/

#doc_time {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight:400;
	position: absolute;
	top: 189.5px;
	left: 173px;
	font-size: 0.6em;
	color:#212121}

#eposlogo  {
	display:none;
	height: 75px;
	width: 120px;
	position: absolute;
	bottom: 0;
	z-index:5;
	/*background:url(../images/eposlogo.png);*/
	left: 0;
	right:0;
	margin:auto}
#eposlogo img, #LogoEposrPeview img, #LogoPeview img {
	width:100%}
	
#myCanvas{
	position: relative;
	z-index: 5;
	opacity: 0.989;
	-webkit-transition: ease 1.5s;
	-moz-transition: ease 1.5s;
	-o-transition: ease 1.5s;
	 transition: ease 1.5s;}