.button-classic {
  display: block;
  width: remcalc(140);
  margin: 0 auto;
  padding: remcalc(12) 0;
  background: $gradient-blue-green;
  border: none;
  border-radius: remcalc(5);
  text-align: center;
  box-shadow: 0 remcalc(2) remcalc(5) $gradi-green;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  @include breakpoint(small) {
    width: remcalc(180);
    padding: remcalc(15) 0;
    @include just-rythm(18);
  }

  &:hover {
    background: $gradient-blue-green-revers;
  }
}

.svg-button-wrapper {
  height: remcalc(35);
  margin: 0 auto 0 remcalc(-15);
  position: relative;
  width: remcalc(180);

  @include breakpoint(small) {
    height: remcalc(45);
  }
}

.button-shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -240;
  stroke-width: 2px;
  stroke: $gradi-green;

  @include breakpoint(small) {
    stroke-dashoffset: -250;
  }
}

.button-text {
  color: $clear-white;
  @include just-rythm(20);
  line-height: remcalc(45);
  position: relative;
  top: remcalc(-48);
  padding: 0 remcalc(15);

  @include breakpoint(small) {
    line-height: remcalc(32);
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -250;
    stroke-width: remcalc(8);
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
    opacity: 1;
  }
}

.svg-button-wrapper {
  &:hover {
  .button-shape {
      -webkit-animation: 4s draw ease;
      animation: 4s draw ease;
      //animation-iteration-count: infinite;
    }
  }
}


.project-button-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint(small) {
    flex-direction: row;
  }
}

.project-button {
  width: 100%;
  margin-bottom: remcalc(10);
  padding: 15px 0;
  color: $gradi-green;
  text-align: center;
  letter-spacing: 1px;
  font-family: $robot-thin;
  font-weight: $font-bold;
  //border-radius: remcalc(5);
  text-transform: uppercase;

  &.see-project {
    background: $gradi-green;
    color: $gray;

    @include breakpoint(small) {
      margin-right: remcalc(20);
    }
  }

  &.next {
    border: 2px solid $gradi-green;
  }

  .project-button-text {

  }
}
