.button-project {
  @include just-rythm(18);
  position: relative;
  margin: remcalc(25) auto;
  color: $clear-white;
  letter-spacing: .5px;

  &:before {
    content: '';
    position: absolute;
    width: 115%;
    height: 1px;
    background-color: $gradi-green;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: -5%;
  }
}
