.recharts-legend-wrapper,
.recharts-cartesian-axis-tick-line,
.recharts-cartesian-axis-line
{
  display: none;
}

.recharts-wrapper {
  width: 100% !important;
}

.recharts-text {
  padding-top: remcalc(20);
  display: block;
  font-family: $robot-thin;
}

.recharts-cartesian-grid-vertical,
.recharts-cartesian-grid-horizontal {
  line {
    display: none;
  }
}

.recharts-text {
  tspan {
    fill: $clear-white;
    @include just-rythm(16);
  }
}

.recharts-surface {
  width: remcalc(900);
  height: remcalc(260);
}

#c147_full_moon {
  &:hover {
    content: 'hello';
    color: $clear-white;
    width: remcalc(100);
    height: remcalc(100);
    background: red;
    position: absolute;
  }
}
