.show-menu {
  background: $clear-gray;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  box-shadow: -15px 0px 20px 0px rgba(0,0,0,0.5);

  @include breakpoint(small) {
    width: 40%;
    right: 0;
  }

  @include breakpoint(extralarge) {
    width: 100%;
  }
}

.list-menu{
  height: 50%;
  margin: auto remcalc(35) auto auto;

  @include breakpoint(small) {
    margin: auto auto auto remcalc(50);
  }

  @include breakpoint(medium) {
    margin: auto auto auto remcalc(60);
  }

  @include breakpoint(large) {
    margin: auto auto auto remcalc(70);
  }

  @include breakpoint(extralarge) {
    margin: auto remcalc(135) auto auto;
  }

  .item-menu {
    position: relative;
    line-height: remcalc(36);
    letter-spacing: 1px;

    @include breakpoint(small) {
      margin: remcalc(10) 0;
      line-height: remcalc(40);
    }

    @include breakpoint(large) {
      margin: remcalc(15) 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      transition: all .5s ease;
    }

    &:hover {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $gradi-green;
        margin: auto 0;
        top: 43%;
        right: -4%;
        transition: all .5s ease;
      }
    }

    &.is-active-page {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $gradi-green;
        margin: auto 0;
        top: 43%;
        right: -4%;
        transition: all .5s ease;
      }
    }

    &:nth-last-child {
      margin-bottom: remcalc(25);
    }

    .text-menu {
      font-weight: $font-semi-bold;
      text-transform: uppercase;
      color: $clear-white;
      @include just-rythm(24);

      @include breakpoint(small) {
        @include just-rythm(28);
        display: block;
        margin-left: remcalc(15);
      }

      @include breakpoint(medium) {
        @include just-rythm(32);
      }

      @include breakpoint(large) {
        @include just-rythm(36);
      }

      @include breakpoint(extralarge) {
        @include just-rythm(48);
        line-height: remcalc(60);
      }
    }
  }
}

.socials {
  a {
    padding: 0 remcalc(10);

    @include breakpoint(large) {
      padding: 0 remcalc(15);
    }

    .icon-item {
      width: remcalc(15);
      height: remcalc(15);
      fill: $clear-white;

      @include breakpoint(small) {
        width: remcalc(16);
        height: remcalc(16);

        &:hover {
          fill: $gradi-green;
        }
      }

      @include breakpoint(large) {
        width: remcalc(22);
        height: remcalc(22);
      }
    }

    &:nth-child(1) {
      padding-left: 0;
    }
  }

  @include breakpoint(small) {
    margin-left: remcalc(15);
  }
}

