.show-menu {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  background: $clear-gray;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1000;
  box-shadow: remcalc(-15) 0 remcalc(20) 0 rgba(0, 0, 0, .5);

  @include breakpoint(small) {
    width: 40%;
    right: 0;
  }

  @include breakpoint(extralarge) {
    width: 100%;
  }
}

.list-menu {
  height: 50%;
  margin: 50% auto 0;
  text-align: center;

  @include breakpoint(small) {
    margin: auto auto auto remcalc(50);
    text-align: left;
  }

  @include breakpoint(medium) {
    margin: auto auto auto remcalc(60);
  }

  @include breakpoint(large) {
    margin: auto auto auto remcalc(70);
  }

  @include breakpoint(extralarge) {
    margin: 10% auto 0;
    text-align: center;
  }

  .item-menu {
    position: relative;
    margin: 0 auto remcalc(5);
    line-height: remcalc(36);
    letter-spacing: 1px;

    @include breakpoint(small) {
      margin: 0 auto remcalc(15);
      line-height: remcalc(40);
    }

    @include breakpoint(large) {
      margin: 0 auto remcalc(20);
    }

    @include breakpoint(extalarge) {
      margin: 0 auto remcalc(30);
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      transition: all .5s ease;
    }

    &:hover {
      &:before {
        content: '';
        position: absolute;
        top: 38%;
        right: 3%;
        width: 100%;
        height: 2px;
        margin: auto 0;
        background-color: $gradi-green;
        transition: all .5s ease;

        @include breakpoint(small) {
          top: 43%;
          right: -4%;
        }
      }
    }

    &.is-active-page {
      &:before {
        content: '';
        position: absolute;
        top: 43%;
        right: -4%;
        width: 100%;
        height: 2px;
        margin: auto 0;
        background-color: $gradi-green;
        transition: all .5s ease;
      }
    }

    .text-menu {
      font-weight: $font-semi-bold;
      text-transform: uppercase;
      color: $clear-white;
      @include just-rythm(24);

      @include breakpoint(small) {
        @include just-rythm(30);
        display: block;
        margin-left: remcalc(15);
      }

      @include breakpoint(medium) {
        @include just-rythm(34);
      }

      @include breakpoint(large) {
        @include just-rythm(38);
      }

      @include breakpoint(extralarge) {
        @include just-rythm(48);
        line-height: remcalc(60);
      }
    }
  }
}

.socials {
  margin: remcalc(25) auto remcalc(35);

  > a {
    padding: 0 remcalc(30) 0 0;

    @include breakpoint(large) {
      padding: 0 remcalc(35) 0 0;
    }

    .icon-item {
      width: remcalc(17);
      height: remcalc(17);
      fill: $clear-white;

      @include breakpoint(small) {
        width: remcalc(18);
        height: remcalc(18);

        &:hover {
          fill: $gradi-green;
        }
      }

      @include breakpoint(large) {
        width: remcalc(22);
        height: remcalc(22);
      }
    }

    &:nth-last-child(1) {
      padding-right: 0;

    }
  }

  @include breakpoint(small) {
    margin-left: remcalc(15);
  }
}

