
/*= Preload */

@keyframes swipe {
  0% {
    width: 0;
    opacity: 1;
  }
  30% {
    width: 100%;
    transform: translateX(100%)
  }
  50% {
    transform: translateX(200%)
  }
  80% {
    transform: translateX(100%)
  }
  90% {
      opacity: 1;
    }
  95% {
    width: 100%;
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes preloading {
  90% {
    background: $clear-white;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes text {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.preloader {
  width: 100%;
  height: 100%;
  background: $clear-black;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
  animation: preloading 3s ease-out 2s both;

  .preloader-text {
    position: relative;
    width: remcalc(250);
    margin: 0;
    overflow: hidden;
    @include center($extend: false);
    @include just-rythm(30);
    animation: text 2.5s ease-out;
    opacity: 0;

    @include breakpoint(medium) {
      width: remcalc(500);
      @include just-rythm(60);
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $clear-white;
      animation: swipe 3s ease-out;
      opacity: 0;

    }

    svg {
      margin-right: remcalc(10);
      width: remcalc(15);
      height: remcalc(15);

      @include breakpoint(medium) {
        width: remcalc(35);
        height: remcalc(35);
      }
    }

    .preloader-color-text {
      @include gradient-text;

      @include breakpoint(medium) {
        @include just-rythm(60);
      }
    }
  }
}
