.about {
  display: flex;
  flex-direction: column;
  padding: remcalc(25) remcalc(15);

  @include breakpoint(small) {
    flex-direction: row;
  }

  .about-box-image {
    margin: remcalc(20) auto;
    @include breakpoint(small) {
      flex: 1 1 60%;
    }

    .about-image {
      width: 100%;
    }
  }

  .about-information {
    font-family: $robot-thin;

    @include breakpoint(small) {
      flex: 1 1 40%;
    }
  }

  .green {
    color: $gradi-green;
  }
}

.about-name {
  letter-spacing: 1px;
}

.about-description {
  display: flex;
  margin: remcalc(15) auto;

  .about-description-left {
    flex: 1 1 40%;
    font-weight: $font-semi-bold;
  }

  .about-description-right {
    flex: 1 1 60%;
  }
}

.about-cv {
  display: flex;
  vertical-align: middle;

  .about-cv-svg {
    height: remcalc(15);
    margin-right: remcalc(5);
    width: remcalc(15);

    path {
      fill: $gradi-green;
    }
  }
}

.skills {
  padding: 0 remcalc(15);
  position: relative;

  svg {
    width: remcalc(100);
  }
}
