.hello_portfolio {
  background: $middleBlack;
  padding: remcalc(15);
  height: 98vh;

  .grid_portfolio {
    position: relative;
    display: flex;
    padding-top: remcalc(60);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    @include breakpoint(small) {
      padding-top: remcalc(80);
    }
  }
}

.portfolio_item {
  text-align: center;
  margin-bottom: remcalc(25);
  @include box_shadow;
  z-index: 11;

  @include breakpoint(small) {
    width: remcalc(270);
    max-width: remcalc(270);
    margin-bottom: remcalc(45);
  }

  @include breakpoint(medium) {
    position: relative;
    flex: 1 1 25%;
    box-shadow: none;
    width: 25vh;
    max-width: 100%;
    height: 25vh;
    margin: 0 auto;
  }

  .portfolio_title {
    padding: remcalc(20) 0 remcalc(15);
    @include just-rythm(16);
    font-family: $GanelasBold;

    @include breakpoint(small) {
      padding: remcalc(20) 0 remcalc(25);
    }
  }

  .portfolio_categories {
    font-family: $RobotThin;
    padding: 0 remcalc(10) remcalc(20);
    @include just-rythm(14)
  }
}

.portfolio_img {
  display: block;
  width: 100%;
}

.portfolio_svg {
  width: remcalc(60);
  max-width: remcalc(60);
  max-height: remcalc(60);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: auto;
}

.portfolio_title_box {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: auto;

  .portfolio_box_name {
    max-width: remcalc(215);
    margin: auto auto remcalc(10);
    font-family: $GanelasBold;
    @include just-rythm(24);
    line-height: remcalc(22);
    background: $gradientBlueGreen;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    
    .project_mini_categories {
      max-width: remcalc(180);
      margin: auto;
      font-family: $RobotThin;
      @include just-rythm(14);
      color: $clearWhite;
    }
}

.project_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
