.is-hover {
  box-shadow: remcalc(15) remcalc(30) 0 $light_gray;
  padding: remcalc(-15);
  transform: translate3d(0, -8px, 0);
}

.burger-click-region {
  cursor: pointer;
  height: remcalc(20);
  position: relative;
  width: remcalc(20);
}

.menu-burger {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .burger-menu-piece {
    background: $clear_white;
    display: block;
    height: remcalc(2);
    position: relative;
    width: remcalc(30);

    &:nth-child(1) {
      top: -5px;

    }

    &:nth-child(3) {
      top: 5px;
      width: remcalc(20);
    }
  }

  .burger-menu-other {
    background: $middle_black;
    display: block;
    position: absolute;
    width: remcalc(2);
    transition: background 1s ease;
  }
}

.burger-menu-piece,
.burger-menu-other {
  &.is-click {
    background: $gradient_blue_green;
  }
}

.logo-name {
  font-family: $SourceSansPro;
  font-weight: $font-light;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 1s ease;
  color: $clear_white;

  &.is-click {
    color: $clear_white;
  }
}

.header-wrap {
  position: relative;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1001;

    .pull-left {
      margin: remcalc(15) auto auto remcalc(15);
    }

    .pull-right {
      margin: remcalc(15) remcalc(15) auto auto;
    }
  }
}


.hero,
.welcome {
  height: 100vh;
  background: $middle_black
}

.hero {
  display: flex;
  align-items: center;
}

.hero_name,
.hero_svg {
  flex: 1 1 50%
}

.hero_name {
  .hero_pencil {
    color: $clear_white;
    text-transform: uppercase;
    @include just-rythm(24);
  }
}