@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::selection {
background: #dd1d35; 
}
::-moz-selection {
background: #dd1d35; 
}
#outdated {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999999999;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
h1,
h2 {
    margin: 0px;
}
body {
    background: #252627;
    overflow: hidden;
    display: block;
}

strong {
    background: rgb(221, 29, 53);
}
#page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}
#nav_bar {
    left: 0;
    background: #f5f5f5;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}
.lang {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.lang a {
    display: block;
    margin-top: 5px;
    font-family: 'lato';
    font-weight: 300;
    text-decoration: none;
    color: #A1A1A1;
}
.lang a:hover,
.lang a.active {
    color: #dd1d35;
}
.logo {
    background: #fafafa;
    display: block;
    padding: 10px 0;
}
.logo img {
    display: block;
    margin: 8px auto;
    width: 50px;
    height: auto;
}
/*  Nawigacja  */

#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;
}
#nav_bar nav a {
    font-size: 24px;
    color: #4d4d4e;
    display: block;
    line-height: 45px;
    height: 45px;
    position: relative;
}
#nav_bar nav a i {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#nav_bar nav a:hover i {
    opacity: 0;
}
#nav_bar nav a.active,
#nav_bar nav a:hover {
    color: #dd1d35;
    font-family: 'lato';
}
#nav_bar nav a:after {
    content: '';
    font-size: 9px;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#nav_bar nav a:first-child:after {
    content: 'START';
}
#nav_bar nav a:first-child + a:after {
    content: 'O MNIE';
}
#nav_bar nav a:first-child + a + a:after {
    content: 'SKILSY';
}
#nav_bar nav a:first-child + a + a + a:after {
    content: 'PORTFOLIO';
}
#nav_bar nav a:first-child + a + a + a + a:after {
    content: 'KONTAKT';
}
#nav_bar nav a:hover:after {
    opacity: 1;
}
/*  sociale  */

#nav_bar ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}
#nav_bar ul li a {
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: #4d4d4e;
}
#nav_bar ul li a:hover {
    color: #dd1d35;
}
.tags {
    color: #515152;
    position: absolute;
    bottom: 0px;
    left: 80px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
}
.top-tags {
    bottom: auto;
    top: 0px;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 5%;*/
    margin: 0 auto;
	overflow: auto;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* ------------------------------------------------ INVERT COLORS ----------------------------------------- */
/* ------------------------------------------------ INVERT COLORS ----------------------------------------- */

@media (min-width: 1100px) and (min-height: 900px) {
    .preloader {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}
@media (max-width: 800px) and (orientation: landscape) {
    #rotate {
        position: fixed;
        background: #212121 url(../img/rotate.jpg) no-repeat center;
        background-size: 100% auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999999999999;
        display: block !important;
        opacity: 1 !important;
    }
    #page {
        display: none !important;
    }
}
@media screen and (max-width: 960px) {
    #page {
        height: auto;
        position: relative;
    }
    #nav_bar {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0;
    }
    .logo {
        float: left;
        padding: 2px 0;
        margin-right: 20px;
    }
    .logo img {
        display: block;
        margin: 5px 15px;
        width: auto;
        height: auto;
    }
    .logo > img:first-child {
        height: 30px;
    }
    .lang {
        float: left;
        width: auto;
        margin-top: 0;
        line-height: 60px;
    }
    .lang a {
        margin-top: 0;
        display: inline;
        margin-right: 7px;
    }
    #nav_bar nav {
        width: 42%;
        position: absolute;
        left: 50%;
        margin-left: -19%;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 0;
        margin-top: 0;
    }
    #nav_bar nav a {
        float: left;
        margin-left: 14%;
        line-height: 60px;
        height: 60px;
    }
    #nav_bar nav a:first-child {
        margin-left: 0;
    }
    #nav_bar ul {
        position: static;
        bottom: 20px;
        width: auto;
        height: 60px;
        line-height: 60px;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        float: right;
    }
    #nav_bar ul li {
        float: right;
        height: 60px;
        line-height: 60px;
        margin: 0 10px;
    }
    #nav_bar ul li a {
        line-height: 60px;
        padding: 0;
    }
    body {
        overflow: hidden
    }
}
@media (max-width: 750px) {
    #nav_bar nav a {
        margin-left: 10%;
    }
    h1 {
        font-size: 47px !important;
        line-height: 40px !important;
    }
    .chart.small {
        display: none;
    }
}
@media (max-width: 530px) {
    .preloader .inner {
        width: 80%;
    }
    #mobile-link {
        font-size: 30px;
        color: #dd1d35;
        float: right;
        margin: 10px 20px 10px 10px;
        display: block;
    }
    #nav_bar ul {
        display: none
    }
    .home-page .text-zone {
        width: 85%;
        left: 5%;
    }
    body {
        overflow-x: hidden;
    }
    #nav_bar {
        position: fixed;
    }
    #nav_bar nav {
        width: 100%;
        position: fixed;
        left: 100%;
        opacity: 0;
        margin-left: 0;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 60px;
        margin-top: 0;
        background: #181818;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    #nav_bar nav a {
        float: left;
        margin-left: 0 !important;
        line-height: 60px;
        height: 60px;
        width: 20%;
    }
    #nav_bar nav.show {
        left: 0;
        opacity: 1;
    }
}
@media screen and (min-width: 531px) {
    #mobile-link {
        display: none
    }
}
/*** Name **/

.RandomName {
    margin-left: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -94px;
}
.randomSM {
    position: absolute;
    right: -50%;
    width: 100%;
    top: 50%;
}
.randomSM span {
    font-size: 56px
}
.random {
    position: relative;
    color: #fafafa;
    font-size: 96px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
/** Wave **/

.Wave {
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111111), color-stop(50%, #222222), color-stop(100%, #111111));
    background-image: -moz-linear-gradient(top, #111111 0%, #222222 50%, #111111 100%);
    background-image: -webkit-linear-gradient(top, #111111 0%, #222222 50%, #111111 100%);
    background-image: linear-gradient(to bottom, #111111 0%, #222222 50%, #111111 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100vw;
}
/** logo 

.logo-container {
    width: 40px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.s {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
}
.face-top {
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    transform: rotate(-45deg) skew(15deg, 15deg);
}
.side {
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    transform: rotate(-45deg) skew(15deg, 15deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
.side-2 {
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    transform: rotate(-45deg) skew(15deg, 15deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
.s-one {
    background: #dd1d35;
    z-index: 5;
    top: 52px;
    -webkit-animation: topline-1 1s 0.5s 1 forwards;
    animation: topline-1 1s 0.5s 1 forwards;
}
.s-two {
    background: #e44a5d;
    top: 52px;
    z-index: 4;
    -webkit-animation: topline-2 0.8s 0.5s 1 forwards;
    animation: topline-2 0.8s 0.5s 1 forwards;
}
.s-three {
    background: #a61628;
    top: 52px;
}
.s-four {
    background: #dd1d35;
    top: 52px;
    left: 22px;
    -webkit-animation: sline-1 0.6s 0.6s 1 forwards ease-in-out;
    animation: sline-1 0.6s 0.6s 1 forwards ease-in-out;
}
.s-five {
    background: #a61628;
    top: 25px;
    left: 0px;
    opacity: 0;
    -webkit-animation: sline-2 0.6s 1.1s 1 forwards ease-in-out;
    animation: sline-2 0.6s 1.1s 1 forwards ease-in-out;
}
@-webkit-keyframes topline-1 {
    0% {
        top: 52px;
    }
    100% {
        top: 0px;
    }
}
@keyframes topline-1 {
    0% {
        top: 52px;
    }
    100% {
        top: 0px;
    }
}
@-webkit-keyframes topline-2 {
    0% {
        top: 52px;
    }
    100% {
        top: 26px;
    }
}
@keyframes topline-2 {
    0% {
        top: 52px;
    }
    100% {
        top: 26px;
    }
}
@-webkit-keyframes sline-1 {
    0% {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
    }
    100% {
        -webkit-transform: rotate(-45deg) skew(-45deg, 15deg);
        transform: rotate(-45deg) skew(-45deg, 15deg);
        height: 18.5px;
        top: 59px;
    }
}
@keyframes sline-1 {
    0% {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
    }
    100% {
        -webkit-transform: rotate(-45deg) skew(-45deg, 15deg);
        transform: rotate(-45deg) skew(-45deg, 15deg);
        height: 18.5px;
        top: 59px;
    }
}
@-webkit-keyframes sline-2 {
    0% {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
        opacity: 0;
    }
    98% {
        opacity: 1;
    }
    100% {
        top: 13px;
        left: 1px;
        -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
        transform: rotate(-15deg) skew(-15deg, -15deg);
        opacity: 1;
    }
}
@keyframes sline-2 {
    0% {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
        opacity: 0;
    }
    98% {
        opacity: 1;
    }
    100% {
        top: 13px;
        left: 1px;
        -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
        transform: rotate(-15deg) skew(-15deg, -15deg);
        opacity: 1;
    }
}**/
@media screen and (max-width: 960px) {
    /** Logo mini 
    
    .logo-container {
        width: 20px;
        height: 40px;
        margin: 0 auto;
        position: relative;
    }
    .s {
        position: absolute;
        width: 12.5px;
        height: 12.5px;
        left: 5px;
    }
    .face-top {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
    }
    .side {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    .side-2 {
        -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
        transform: rotate(-45deg) skew(15deg, 15deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
    .s-one {
        background: #dd1d35;
        z-index: 5;
        top: 26.5px;
        -webkit-animation: topline-1 1s 0.5s 1 forwards;
        animation: topline-1 1s 0.5s 1 forwards;
    }
    .s-two {
        background: #e44a5d;
        top: 26.5px;
        z-index: 4;
        -webkit-animation: topline-2 0.8s 0.5s 1 forwards;
        animation: topline-2 0.8s 0.5s 1 forwards;
    }
    .s-three {
        background: #a61628;
        top: 26.5px;
    }
    .s-four {
        background: #dd1d35;
        top: 26.5px;
        left: 11px;
        -webkit-animation: sline-1 0.6s 0.6s 1 forwards ease-in-out;
        animation: sline-1 0.6s 0.6s 1 forwards ease-in-out;
    }
    .s-five {
        background: #a61628;
        top: 26.5px;
        left: 0px;
        opacity: 0;
        -webkit-animation: sline-2 0.6s 1.1s 1 forwards ease-in-out;
        animation: sline-2 0.6s 1.1s 1 forwards ease-in-out;
    } 
    .logo {
        padding: 10px 0 0 10px;
    }
    @-webkit-keyframes topline-1 {
        0% {
            top: 26.5px;
        }
        100% {
            top: 0px;
        }
    }
    @keyframes topline-1 {
        0% {
            top: 26.5px;
        }
        100% {
            top: 0px;
        }
    }
    @-webkit-keyframes topline-2 {
        0% {
            top: 26.5px;
        }
        100% {
            top: 26px;
        }
    }
    @keyframes topline-2 {
        0% {
            top: 26.5px;
        }
        100% {
            top: 13px;
        }
    }
    @-webkit-keyframes sline-1 {
        0% {
            -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
            transform: rotate(-45deg) skew(15deg, 15deg);
        }
        100% {
            -webkit-transform: rotate(-45deg) skew(-45deg, 15deg);
            transform: rotate(-45deg) skew(-45deg, 15deg);
            height: 9px;
            top: 28.5px;
        }
    }
    @keyframes sline-1 {
        0% {
            -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
            transform: rotate(-45deg) skew(15deg, 15deg);
        }
        100% {
            -webkit-transform: rotate(-45deg) skew(-45deg, 15deg);
            transform: rotate(-45deg) skew(-45deg, 15deg);
            height: 9px;
            top: 28.5px;
        }
    }
    @-webkit-keyframes sline-2 {
        0% {
            -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
            transform: rotate(-45deg) skew(15deg, 15deg);
            opacity: 0;
        }
        98% {
            opacity: 1;
        }
        100% {
            top: 6.5px;
            left: 1px;
            -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
            transform: rotate(-15deg) skew(-15deg, -15deg);
            opacity: 1;
        }
    }
    @keyframes sline-2 {
        0% {
            -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
            transform: rotate(-45deg) skew(15deg, 15deg);
            opacity: 0;
        }
        98% {
            opacity: 1;
        }
        100% {
            top: 6.5px;
            left: 1px;
            -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
            transform: rotate(-15deg) skew(-15deg, -15deg);
            opacity: 1;
        }
    }**/
}
@media screen and (max-width: 768px) {
    .random {
        font-size: 70px
    }
    .randomSM {
        right: 0;
        top: 100%
    }
    .randomSM span {
        font-size: 45px
    }
	
}
@media screen and (max-width: 640px) {
    .RandomName {
        margin-left: 30px;
    }
    .random {
        font-size: 32px
    }
    .randomSM {
        right: 0;
        top: 100%
    }
    .randomSM span {
        font-size: 25px
    }
	
}

/** Preloader **/
.preloader_On {
	position: fixed;
top: 0;
width: 100%;
height: 100%;
z-index: 9999;
left: 0;}
.preloader_Home {
	height: 100%;
width: 100%;
float: left;
position: relative;
overflow: hidden;
background-color: rgb(255, 255, 255);
transition: transform 1.1s ease 0s;}
.preloader_Text {
	position: absolute;
top: 60%;
left: 50%;
font-size:16px;
font-family:'Roboto';
font-weight:100;
color:#212121;
margin-left: -52px;
}
.preloader_On.animate .preloader_Home {
	    transform: translateX(100%);}

@-webkit-keyframes preload-show-1 {
  from {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-show-1 {
  from {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-hide-1 {
  to {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-hide-1 {
  to {
    -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-cycle-1 {
  5% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  10%,
		75% {
    -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  80%,
		100% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-cycle-1 {
  5% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  10%,
		75% {
    -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  80%,
		100% {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-show-2 {
  from {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-show-2 {
  from {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-hide-2 {
  to {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-hide-2 {
  to {
    -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-cycle-2 {
  10% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  15%,
		70% {
    -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  75%,
		100% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-cycle-2 {
  10% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  15%,
		70% {
    -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  75%,
		100% {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-show-3 {
  from {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-show-3 {
  from {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-hide-3 {
  to {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-hide-3 {
  to {
    -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-cycle-3 {
  15% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  20%,
		65% {
    -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  70%,
		100% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-cycle-3 {
  15% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  20%,
		65% {
    -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  70%,
		100% {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-show-4 {
  from {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-show-4 {
  from {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-hide-4 {
  to {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-hide-4 {
  to {
    -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-cycle-4 {
  20% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  25%,
		60% {
    -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  65%,
		100% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-cycle-4 {
  20% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  25%,
		60% {
    -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  65%,
		100% {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-show-5 {
  from {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-show-5 {
  from {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-hide-5 {
  to {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-hide-5 {
  to {
    -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-cycle-5 {
  25% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  30%,
		55% {
    -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  60%,
		100% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-cycle-5 {
  25% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  30%,
		55% {
    -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  60%,
		100% {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-show-6 {
  from {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-show-6 {
  from {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-hide-6 {
  to {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-hide-6 {
  to {
    -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-cycle-6 {
  30% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  35%,
		50% {
    -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  55%,
		100% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@keyframes preload-cycle-6 {
  30% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
  35%,
		50% {
    -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #f7484e;
  }
  55%,
		100% {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
            transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f;
  }
}
@-webkit-keyframes preload-flip {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
            transform: rotateY(0deg) rotateZ(-60deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(-60deg);
            transform: rotateY(360deg) rotateZ(-60deg);
  }
}
@keyframes preload-flip {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
            transform: rotateY(0deg) rotateZ(-60deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateZ(-60deg);
            transform: rotateY(360deg) rotateZ(-60deg);
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: block;
  width: 3.75em;
  height: 4.25em;
  margin-top: -2.125em;
  margin-left: -40px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotateY(180deg) rotateZ(-60deg);
          transform: rotateY(180deg) rotateZ(-60deg);
}
.preloader .slice {
  border-top: 1.125em solid transparent;
  border-right: none;
  border-bottom: 1em solid transparent;
  border-left: 1.875em solid #f7484e;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  border-radius: 3px 3px 0 0;
}
.preloader .slice:nth-child(1) {
  -webkit-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.82s preload-hide-1 both 1;
          animation: 0.15s linear 0.82s preload-hide-1 both 1;
}
.preloader .slice:nth-child(2) {
  -webkit-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.74s preload-hide-2 both 1;
          animation: 0.15s linear 0.74s preload-hide-2 both 1;
}
.preloader .slice:nth-child(3) {
  -webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.66s preload-hide-3 both 1;
          animation: 0.15s linear 0.66s preload-hide-3 both 1;
}
.preloader .slice:nth-child(4) {
  -webkit-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.58s preload-hide-4 both 1;
          animation: 0.15s linear 0.58s preload-hide-4 both 1;
}
.preloader .slice:nth-child(5) {
  -webkit-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.5s preload-hide-5 both 1;
          animation: 0.15s linear 0.5s preload-hide-5 both 1;
}
.preloader .slice:nth-child(6) {
  -webkit-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
          transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
  -webkit-animation: 0.15s linear 0.42s preload-hide-6 both 1;
          animation: 0.15s linear 0.42s preload-hide-6 both 1;
}
.preloader.loading {
  -webkit-animation: 2s preload-flip steps(2) infinite both;
          animation: 2s preload-flip steps(2) infinite both;
}
.preloader.loading .slice:nth-child(1) {
  -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2s preload-cycle-1 linear infinite both;
          animation: 2s preload-cycle-1 linear infinite both;
}
.preloader.loading .slice:nth-child(2) {
  -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2s preload-cycle-2 linear infinite both;
          animation: 2s preload-cycle-2 linear infinite both;
}
.preloader.loading .slice:nth-child(3) {
  -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2s preload-cycle-3 linear infinite both;
          animation: 2s preload-cycle-3 linear infinite both;
}
.preloader.loading .slice:nth-child(4) {
  -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2s preload-cycle-4 linear infinite both;
          animation: 2s preload-cycle-4 linear infinite both;
}
.preloader.loading .slice:nth-child(5) {
  -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2s preload-cycle-5 linear infinite both;
          animation: 2s preload-cycle-5 linear infinite both;
}
.preloader.loading .slice:nth-child(6) {
  -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
          transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
  -webkit-animation: 2s preload-cycle-6 linear infinite both;
          animation: 2s preload-cycle-6 linear infinite both;
}
/**** Self Info ****/


.Self_info h2 {
	font-family:"roboto";
	font-weight:300;
	color:#626262;
	position:absolute;
	top: 50%;
left: 5%;
margin-top: 90px;
}
@media screen and (max-width:1024px) {
	.Self_info h2 {
		left:9%;
		}}
@media screen and (max-width:640px) {
	.Self_info h2 {
		font-size: 14px;
margin-top: 0px;}}
@media screen and (min-width:418px) and (max-width:640px) {
	.Self_info h2 {
		left:6%}}

/*** bottom ***/
.wrap {
  height: 60px;
  position: absolute;
  top:70%;
  left:4%;
  transform: translateY(-50%);
}
@media screen and (min-width:639px) and (max-width:1024px) {
	.wrap {
		left:8%}}
@media screen and (max-width:640px) {
	.wrap { left:3%}}
.box {
  padding: 1em;
  height: 60px;
  text-align: center;
}

button {
  width: 160px;
  height: 40px;
  background: #E6203B;
  cursor:pointer;
  position: relative;
  border-radius:6px;
  font-family: "lato";
font-weight: 100;
font-size: 12px;
border: none;
}

button a {
  color: #fff;
  text-transform:uppercase;
  letter-spacing:1px;
text-decoration: none;
}

/* let's shape */

button span.shape {
  height: 60px;
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
  
}

button span span {
  content:"";
  position: absolute;
  margin: auto;
  height: 8px;
  width: 2px;
  background: #E6203B;
  opacity: 0;
}

button span span:nth-of-type(1) {
  top: -20px;
  left: 0;
  right: 0;
}

button span span:nth-of-type(2) {
  bottom: -20px;
  left: 0;
  right: 0;
}

button span span:nth-of-type(3) {
  top:0;
  bottom: 0;
  left: -10px;
}

button span span:nth-of-type(4) {
  top:0;
  bottom: 0;
  right: -10px;
}

button span span:nth-of-type(5) {
  top: -20px;
  left: -70%;
  right: 0;
  transform:rotate(-30deg);
}

button span span:nth-of-type(6) {
  top: -20px;
  left: 0;
  right: -70%;
  transform:rotate(30deg);
}
button span span:nth-of-type(7) {
  bottom: -20px;
  right: 0;
  left: -70%;
  transform:rotate(30deg);
}
button span span:nth-of-type(8) {
  bottom: -20px;
  left: 0;
  right: -70%;
  transform:rotate(-30deg);
}



/* let's animate this */

@keyframes bounce {
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

button.active {
  animation: bounce 0.3s ease-out 1;
}

button.active span span:nth-of-type(1) {
  animation: anim1 0.4s ease-out 1;
}
button.active span span:nth-of-type(2) {
  animation: anim2 0.4s ease-out 1;
}
button.active span span:nth-of-type(3) {
  animation: anim3 0.4s ease-out 1;
}
button.active span span:nth-of-type(4) {
  animation: anim4 0.4s ease-out 1;
}
button.active span span:nth-of-type(5) {
  animation: anim5 0.4s ease-out 1;
}
button.active span span:nth-of-type(6) {
  animation: anim6 0.4s ease-out 1;
}
button.active span span:nth-of-type(7) {
  animation: anim7 0.4s ease-out 1;
}
button.active span span:nth-of-type(8) {
  animation: anim8 0.4s ease-out 1;
}


@keyframes anim1 {
  0%{transform: scaleY(0.5);opacity: 0;}
  50%{transform: translateY(-10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(-20px) scaleY(0.5);opacity: 0;}
}
@keyframes anim2 {
  0%{transform: scaleY(1);opacity: 0;}
  50%{transform: translateY(10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(20px) scaleY(0.5);opacity: 0;}
}
@keyframes anim3 {
  0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
  50%{transform: rotate(90deg) translateY(10px) scaleX(1.4); opacity: 1;}
  100%{transform: rotate(90deg) translateY(20px) scaleX(0.5);opacity: 0;}
}
@keyframes anim4 {
  0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
  50%{transform: rotate(90deg) translateY(-10px) scaleX(1.4); opacity: 1;}
  100%{transform: rotate(90deg) translateY(-20px) scaleX(0.5);opacity: 0;}
}
@keyframes anim5 {
  0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(-30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(-30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim6 {
  0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim7 {
  0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(30deg) translateY(8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(30deg) translateY(16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim8 {
  0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(-30deg) translateY(8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(-30deg) translateY(16px) scaleY(0.5);opacity: 0;}
}

/**** About ****/


/*.about_run, .skilsy_run {
 position: absolute;
margin-right: 25px;
width: 500px;
display: block;
right:0;
  }
.about_run {
height: 405px;}
.skilsy_run {
height: 250px;
}*/
.machine {  
width:100%;
fill: #fafafa;
position:absolute;
right:0
 }

.about, .skilsy {
	width: 50%;
	display: block;
	position: absolute;
    height: 100%}
.about_text, .skilsy_text {
	position: relative;
	width:100%;
	left:12%;}
.about h2, .skilsy h2 {
	font-family:"roboto";
	color:#fafafa;
	font-size: 64px;
    font-weight: 100;
    padding: 25px 0px;}
/*** Hover ++ ***/
[data-wipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgb(221, 29, 53);
  overflow: hidden;
}
[data-wipe]:before, [data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: rgb(221, 29, 53);
}
[data-wipe]:before {
  left: 0;
  /*text-indent: 18px;*/
  width: 0;
}
[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.2s ease-in-out;
}
[data-wipe]:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}
[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.2s ease-in-out;
}
/*** End Hover ++ ***/

.about p, .skilsy p {
	font-size: 18px;
font-family: "roboto";
color: #fafafa;
font-weight: 100;
line-height: 1.7;
padding: 15px 0}
	
@media screen and (max-width:980px){
/*	.about_run{ display:none}*/
	.about { width:80%; top:20%; height: auto;}}
	
.small-shadow, .medium-shadow, .large-shadow {
  fill: rgba(0, 0, 0, 0.05); }

.small {
  -webkit-transform-origin: 100.136px 225.345px;
      -ms-transform-origin: 100.136px 225.345px;
          transform-origin: 100.136px 225.345px; }

.small-shadow {
  -webkit-transform-origin: 110.136px 235.345px;
      -ms-transform-origin: 110.136px 235.345px;
          transform-origin: 110.136px 235.345px; }

.medium {
  -webkit-transform-origin: 254.675px 379.447px;
      -ms-transform-origin: 254.675px 379.447px;
          transform-origin: 254.675px 379.447px; }

.medium-shadow {
  -webkit-transform-origin: 264.675px 389.447px;
      -ms-transform-origin: 264.675px 389.447px;
          transform-origin: 264.675px 389.447px; }

.large {
  -webkit-transform-origin: 461.37px 173.694px;
      -ms-transform-origin: 461.37px 173.694px;
          transform-origin: 461.37px 173.694px; }

.large-shadow {
  -webkit-transform-origin: 471.37px 183.694px;
      -ms-transform-origin: 471.37px 183.694px;
          transform-origin: 471.37px 183.694px; }

/****** Skilsy ******/
#techList {
	position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  color: #fafafa;
}

#techList li {
	position: absolute;
  top: 0;
  left: 0;
}

.html5 {
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform: 
  		scale(7.5, 7.8)
 			translate(1.18em, .68em);
  -moz-transform: 
    	scale(7.5, 7.8)
 			translate(1.18em, .68em);
}

.javascript {
  letter-spacing: -.04em;
  font-weight: 400;
	-webkit-transform: 
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
  -moz-transform: 
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
}

.jade {
  letter-spacing: -.05em;
  font-weight: 300;
	-webkit-transform:
    	scale(1.4, 2.2)
    	rotate(90deg)
    	translate(1.7em, -19.2em);
  -moz-transform: 
    	scale(1.4, 2.2)
    	rotate(90deg)
    	translate(1.7em, -19.2em);
}

.responsive {
  color: #dd1d35;
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform: 
    	scale(2)
    	translate(2.12em, 5.14em);
  -moz-transform: 
    	scale(2)
    	translate(2.12em, 5.14em);
}

.usability {
  font-weight: 400;
  letter-spacing: -.04em;
  -webkit-transform: 
    	scale(2.85, 3)
      translate(7.14em, 3.55em);
  -moz-transform: 
      scale(2.85, 3)
      translate(7.14em, 3.55em);
}

.sass {
  color: #dd1d35;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: 
    	scale(3.4)
      translate(7.03em, 2.15em);
  -moz-transform: 
      scale(3.4)
      translate(7.03em, 2.15em);
}

.css3 {
  letter-spacing: .01em;
  font-weight: 700;
	-webkit-transform: 
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.54em);
  -moz-transform: 
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.54em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
	-webkit-transform: 
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
  -moz-transform: 
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
}

.objectoriented {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform: 
    	scale(1.85, 1.9)
      translate(1.86em, 6.5em);
  -moz-transform: 
      scale(1.85, 1.9)
      translate(1.86em, 6.5em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform: 
    	scale(2.75, 3)
      translate(1.72em, 4.95em);
  -moz-transform: 
      scale(2.75, 3)
      translate(1.72em, 4.95em);
}

.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform: 
    	scale(3.9, 4)
      translate(6.05em, .95em);
  -moz-transform: 
      scale(3.9, 4)
      translate(6.05em, .95em);
}

.crossbrowser {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: .2em;
  -webkit-transform: 
  		scale(2)
      translate(2.28em, 8.58em);
  -moz-transform: 
      scale(2)
      translate(2.28em, 8.58em);
}

.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform: 
    	scale(2)
      translate(12.7em, 8.6em);
  -moz-transform: 
      scale(2)
      translate(12.7em, 8.6em);
}

.less {
  letter-spacing: -0.01em;
  font-weight: 700;
	-webkit-transform: 
    	scale(2.4, 2.28)
    	rotate(90deg)
    	translate(6em, -5.8em);
  -moz-transform: 
    	scale(2.4, 2.28)
    	rotate(90deg)
    	translate(6em, -5.8em);
}

.skills {
  color: #dd1d35;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: 
    	scale(1.8)
      translate(10.1em, 9.55em);
  -moz-transform: 
      scale(1.8)
      translate(10.1em, 9.55em);
}

.skilsy_run, .about_run {
    top: 50%;
    transform: translateY(-50%);
}
.container .skilsy:last-child, .container .about:last-child {
    right: 0
}
@media screen and (max-width:980px){
	.skilsy_run{ display:none}
	.skilsy { width:80%; top:20%; height: auto;}}
@media screen and (min-width:981px){
    .about_text, .skilsy_text {
    top: 50%;
    transform: translateY(-50%);}
}


/********** Contact *********/
.contact {
  padding: 0;
  overflow: hidden;
}
.contact_info {
  position: absolute;
  top: 50%;
  width: 100%;
}

/*** Words **/

.text {
  position: absolute;
  width: 100%;
  margin-top: -96px;
  margin-left: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  font-family: 'lato';
  color: #fafafa
  
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}



/*** End Contact ***/
textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
    background: transparent;  
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}
