/***  Map  ***/
#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0; }

.pin-wrap {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -120.71068px;
  margin-left: -50px;
  transform-origin: 50% 120.71068% 0; }

.pin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  transform-origin: 50% 120.71068% 0; }

.pin::after {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  content: '';
  transform: rotateZ(-45deg);
  border: 20px solid #dd1d35;
  border-radius: 50% 50% 50% 50%; }

.pin::before {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  content: '';
  transform: rotateZ(-45deg);
  border: 18px solid #b0172a;
  border-radius: 50% 50% 50% 0; }

.shadow {
  position: absolute; }

.shadow::after {
  position: absolute;
  left: -125px;
  display: block;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  content: '';
  transform: rotateX(55deg);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px; }

.pulse {
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  transform: rotateX(55deg); }

.pulse::after {
  display: block;
  width: 100px;
  height: 100px;
  content: '';
  animation: pulsate 1s ease-out;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px 3px #dd1d35; }

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }
.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%; }
  .cont-contactInfo h3 {
    font-size: 28px; }
  .cont-contactInfo h4 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase; }
  .cont-contactInfo h4.section {
    margin: 30px 0 0; }
  .cont-contactInfo p {
    margin: 0; }
  .cont-contactInfo p > a {
    text-transform: uppercase;
    font-weight: bold; }
  .cont-contactInfo .social-icons {
    list-style: none;
    margin: 5px 0 0;
    padding: 0; }
    .cont-contactInfo .social-icons li {
      float: left;
      margin-right: 3px; }
      .cont-contactInfo .social-icons li a {
        background-image: url("../images/sprite_social_icons.png");
        background-repeat: no-repeat;
        display: block;
        height: 28px;
        width: 29px; }
      .cont-contactInfo .social-icons li a:hover {
        opacity: .8; }
      .cont-contactInfo .social-icons li a.icon_twitter {
        background-position: -33px 0; }
      .cont-contactInfo .social-icons li a.icon_linkedin {
        background-position: -68px 0; }
      .cont-contactInfo .social-icons li a.icon_youtube {
        background-position: -102px 0; }
      .cont-contactInfo .social-icons li a.icon_pinterest {
        background-position: -135px 0; }
      .cont-contactInfo .social-icons li a.icon_vimeo {
        background-position: -169px 0; }
      .cont-contactInfo .social-icons li a.icon_instagram {
        background-position: -204px 0; }

.cont-contactBtn {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px; }
  .cont-contactBtn .cont-flip {
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%; }
    .cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
      display: block;
      margin: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
    .cont-contactBtn .cont-flip .front {
      background-color: transparent; }
    .cont-contactBtn .cont-flip .back {
      background-color: #252627;
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
      transform: rotateX(180deg); }
  .cont-contactBtn .btn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .cont-contactBtn .btn:hover {
    background: #dd1d35;
    color: white;
    border: 3px solid #dd1d35; }
  .cont-contactBtn .cont-flip.flipped {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .cont-contactBtn .contact-form {
    padding-left: 12%;
    width: 100%;
    transform: translateY(-50%); }
    .cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
      border: 1px solid #808080;
      font-size: 12px;
      padding: 10px 0;
      text-transform: uppercase;
      border: none;
      border-bottom: 1px solid #dd1d35;
      background-color: #dd1d35; }
    .cont-contactBtn .contact-form input[type="text"], .cont-contactBtn .contact-form input[type="email"] {
      float: left;
      margin-bottom: 8px;
      padding-left: 3%;
      width: 96.2%; }
    .cont-contactBtn .contact-form input:focus, .cont-contactBtn .contact-form textarea:focus {
      outline-color: transparent;
      color: #fafafa; }
    .cont-contactBtn .contact-form .gutter {
      margin-right: 2.8%; }
    .cont-contactBtn .contact-form textarea {
      height: 106px;
      padding-left: 3%;
      margin-bottom: 22px;
      width: 96.2%;
      border: none;
      border-bottom: 2px solid #dd1d35; }
    .cont-contactBtn .contact-form input[type="submit"] {
      background-color: transparent;
      border: 2px solid #fafafa;
      color: #fafafa;
      height: 45px;
      width: 96.2%;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .cont-contactBtn .contact-form input[type="submit"]:hover {
      background-color: #dd1d35;
      color: #fafafa;
      border: 2px solid #dd1d35; }
  .cont-contactBtn .close {
    display: block;
    height: 19px;
    width: 19px;
            /*
background-image: url('http://i.imgur.com/WoKg12q.png');
background-repeat: no-repeat;
background-position: center;*/
    position: absolute;
    top: 15px;
    right: 3%;
    color: #fafafa; }

.btn {
  border: 3px #fff solid;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%; }

::-webkit-input-placeholder {
  color: #fafafa;
  font-family: 'Lato';
  font-weight: 100; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fafafa;
  font-family: 'Lato';
  font-weight: 100; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fafafa;
  font-family: 'Lato';
  font-weight: 100; }

:-ms-input-placeholder {
  color: #fafafa;
  font-family: 'Lato';
  font-weight: 100; }

@media screen and (max-width: 933px) {
  .cont-contactBtn {
    top: 7%; }

  .cont-contactBtn .contact-form {
    padding-left: 3%; }

  .text {
    display: none; } }
