body {
  margin: 0;
  padding: 0;
  font-family: $ganelas-light;
  font-weight: $font-thin;
  color: $clear-white;
}
main {
  position: relative;
  height: 100%;
  background: radial-gradient(ellipse at bottom, $middle-black 0%, $black-blue 100%);
  overflow: hidden;

  &.hello-pencil {
    @include breakpoint(small) {
      &:before {
        @include center($extend: false);
        @include just-rythm(155);
        content: attr(data-name);
        position: fixed;
        font-family: $ganelas-bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: remcalc(20);
        color: $clear-gray;
        user-select: none;
      }
    }
  }
}

a {
  text-decoration: none;
}

p,
span {
  line-height: 140%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  z-index: 100;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 30px);
  padding: remcalc(15);
  z-index: 100;

  @include breakpoint(medium) {
    height: calc(100vh - 50px);
    flex-direction: row;
    justify-content: space-between;
    padding: remcalc(25);
  }

  @include breakpoint(extralarge) {
    height: calc(100vh - 90px);
    padding: remcalc(45);
  }

  &.height-auto {
    height: auto;

    &.vh-medium {
      @include breakpoint(small) {
        height: calc(100vh - 50px);
        overflow: hidden;
      }

      @include breakpoint(extralarge) {
        height: calc(100vh - 90px);
      }
    }
  }

  &.is-mobile {
    padding: remcalc(15) 0;
  }
}

section,
.header-container {
  max-width: remcalc(1600);
  margin: auto;
}
