body {
  font-family: $ganelas-light;
  font-weight: $font-thin;
  margin: 0;
  padding: 0;
  color: $clear-white;
}
main {
  position: relative;
  height: 100%;
  background: radial-gradient(ellipse at bottom, $middle-black 0%, $black-blue 100%);
  overflow-x: scroll;
  overflow-y: hidden;

  &.hello-pencil {
    @include breakpoint(small) {
      &:before {
        @include center($extend: false);
        @include just-rythm(155);
        content: attr(data-name);
        position: fixed;
        text-transform: uppercase;
        font-family: $ganelas-bold;
        letter-spacing: remcalc(20);
        color: $clear-gray;
        user-select: none;
      }
    }
  }
}

a {
  text-decoration: none;
}

p,
span {
  line-height: 140%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  z-index: 100;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 30px);
  padding: remcalc(15);
  z-index: 100;

  @include breakpoint(medium) {
    flex-direction: row;
    height: calc(100vh - 50px);
    justify-content: space-between;
    padding: remcalc(25);
  }

  @include breakpoint(extralarge) {
    height: calc(100vh - 90px);
    padding: remcalc(45);
  }

  &.height-auto {
    height: auto;

    &.vh-medium {
      @include breakpoint(small) {
        height: calc(100vh - 50px);
        overflow: hidden;
      }

      @include breakpoint(extralarge) {
        height: calc(100vh - 90px);
      }
    }
  }
  &.mobile-height {
    height: auto;

    @include breakpoint(small) {
      height: 100vh;
    }
  }

  &.is-mobile {
    padding: remcalc(15) 0;
  }
}

section,
.header-container {
  max-width: remcalc(1600);
  margin: auto;
}

.grid-bg {
  @include breakpoint(small) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
  }

  .col {
    @include breakpoint(small) {
      display: inline-block;
      width: 16.66667%;
      overflow: hidden;
      height: inherit;
      outline: none;
      border-right: 1px solid $clear-gray;
    }
  }
}
