$clearWhite: #fff;
$clearGray: #222;
$easeGray: #848484;
$clearBlack: #000;
$middleBlack: #242424;
$lightGray: rgba(17, 21, 23, .1);
$gradiBlue: #00e1d9;
$gradiGreen: #01e6ae;
$gradientBlueGreen: linear-gradient(135deg, $gradiBlue 23%, $gradiGreen 65%);

$base-size: 16 !default;

@font-face {
  font-family: 'qanelas_bold';
  src: url('../fonts/qanelassoft_extrabold.woff2') format('woff2'),
  url('../fonts/qanelassoft_extrabold.woff') format('woff'),
  url('../fonts/qanelassoft_extrabold.svg#qanelas_soft_demoextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qanelas_light';
  src: url('../fonts/qanelassoft_ultralight.woff2') format('woff2'),
  url('../fonts/qanelassoft_ultralight.woff') format('woff'),
  url('../fonts/qanelassoft_ultralight.svg#qanelas_soft_demoextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Rem Calculation */
@function remcalc($size) {
  @return (($size / $base-size) * 1rem);
}

$GanelasBold: 'qanelas_bold', sans-serif;
$GanelasLight: 'qanelas_light', sans-serif;
$RobotThin: 'Roboto', sans-serif;


/* Typography Map */
$fonts: (
  48: remcalc(54),
  40: remcalc(46),
  36: remcalc(42),
  32: remcalc(40),
  30: remcalc(36),
  26: remcalc(32),
  24: remcalc(30),
  21: remcalc(28),
  20: remcalc(28),
  18: remcalc(24),
  16: remcalc(24),
  14: remcalc(24),
  12: remcalc(20),
  10: remcalc(20)
);

/* Font Weights  */
$fontThin: 100 !default;
$fontLight: 300 !default;
$fontRegular: 400 !default;
$fontSemiBold: 600 !default;
$fontBold: 700 !default;

$skewMinus: skew(-25deg, 0deg);
$skewPlus: skew(25deg, 0deg);

body {
  font-family: $GanelasLight;
  font-weight: 400;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span,
p,
a {
  color: $middleBlack;

  &.bold {
    font-family: $GanelasBold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6
{margin: 0}

section,
.header-container {
  max-width: remcalc(1600);
  margin: auto;
}
