$clear-white: #fff;
$clear-gray: #222;
$gray: #353535;
$ease-gray: #848484;
$clear-black: #000;
$middle-black: #242424;
$light-gray: rgba(17, 21, 23, .1);
$gradi-blue: #00e1d9;
$gradi-green: #01e6ae;
$middle-greay: #666;
$ease-red: #FB797E;
$ease-border-red: #F0797E;
$space-gray: #eee;
$space-white: #f9f9f9;
$space-back-gray: #E5E5E5;
$gradient-blue-green: linear-gradient(135deg, $gradi-blue 23%, $gradi-green 65%);
$gradient-blue-green-revers: linear-gradient(135deg, $gradi-green 23%, $gradi-blue 65%);

$base-size: 16 !default;

@font-face {
  font-family: 'qanelas_bold';
  font-style: normal;
  src: url('../fonts/qanelassoft_extrabold.woff2') format('woff2'),
  url('../fonts/qanelassoft_extrabold.woff') format('woff'),
  url('../fonts/qanelassoft_extrabold.svg#qanelas_soft_demoextrabold') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'qanelas_light';
  src: url('../fonts/qanelassoft_ultralight.woff2') format('woff2'),
  url('../fonts/qanelassoft_ultralight.woff') format('woff'),
  url('../fonts/qanelassoft_ultralight.svg#qanelas_soft_demoextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Rem Calculation */
@function remcalc($size) {
  @return (($size / $base-size) * 1rem);
}

$ganelas-bold: 'qanelas_bold', sans-serif;
$ganelas-light: 'qanelas_light', sans-serif;
$robot-thin: 'Roboto', sans-serif;


/* Typography Map */
$fonts: (
  52: remcalc(50),
  48: remcalc(54),
  40: remcalc(46),
  36: remcalc(42),
  32: remcalc(40),
  30: remcalc(36),
  28: remcalc(32),
  26: remcalc(32),
  24: remcalc(30),
  21: remcalc(28),
  20: remcalc(28),
  18: remcalc(24),
  16: remcalc(24),
  14: remcalc(24),
  12: remcalc(20),
  10: remcalc(20)
);

/* Font Weights  */
$font-thin: 100 !default;
$font-light: 300 !default;
$font-regular: 400 !default;
$font-semi-bold: 500 !default;
$font-bold: 700 !default;

$skew-minus: skew(-25deg, 0deg);
$skew-plus: skew(25deg, 0deg);

body {
  font-family: $ganelas-light;
  font-weight: $font-thin;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span,
p,
a,
h3 {
  color: $middle-black;

  &.bold {
    font-family: $ganelas-bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6
{margin: 0}

section,
.header-container {
  max-width: remcalc(1600);
  margin: auto;
}
