.about {
  display: flex;
  padding: remcalc(70) remcalc(15) remcalc(25);
  overflow: hidden;

  @include breakpoint(small) {
    flex-direction: column;
    padding: remcalc(75) remcalc(25);
  }

  @include breakpoint(large) {
    padding: remcalc(75) remcalc(40) 0 remcalc(45);
  }

  .about-image-box {
    position: relative;
    margin: remcalc(10) auto;
    overflow: hidden;

    @include breakpoint(small) {
      margin: 0 auto;
      padding: 0 0 remcalc(25) 0;
    }

    @include breakpoint(medium) {
      width: 55%;
      margin: auto 14.5% 0 auto;
      padding: 0 0 remcalc(75) 0;
    }

    .about-image {
      width: 100%;
      margin: auto auto remcalc(35);

      @include breakpoint(small) {
        margin: auto auto remcalc(25);
      }
    }
  }

  .about-information {
    margin: 0 auto auto;
    font-family: $robot-thin;

    @include breakpoint(small) {
      flex: 1 1 65%
    }
  }
}

.about-information-box {
  @include breakpoint(small) {
    display: flex;
  }

  @include breakpoint(medium) {
    width: 82%;
  }
}

.about-name {
  @include just-rythm(28);
  letter-spacing: 1px;
}

.about-description {
  display: flex;
  margin: remcalc(15) auto;

  @include breakpoint(small) {
    @include just-rythm(18);
  }

  .about-description-left {
    flex: 1 1 40%;
    font-weight: $font-semi-bold;
  }

  .about-description-right {
    flex: 1 1 60%;

    .description-shot {
      color: $clear-white;
    }
  }
}

.about-cv {
  display: flex;
  vertical-align: middle;

  @include breakpoint(medium) {
    @include just-rythm(20);
  }

  .about-cv-svg {
    height: remcalc(15);
    margin-right: remcalc(5);
    width: remcalc(15);

    @include breakpoint(medium) {
      width: remcalc(20);
      height: remcalc(20);
    }

    path {
      fill: $gradi-green;
    }
  }
}

.about-me {
  text-align: justify;
}

/****************  Second ****************/

.skills-title {
  @include just-rythm(22);
  font-family: $robot-thin;
  font-weight: $font-semi-bold;
  text-align: center;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: remcalc(10) 0;

  @include breakpoint(small) {
    height: 100%;
    flex: 1 1 45%;
    padding: remcalc(10) remcalc(20);
  }
}

.skill-one-shot {
  display: flex;
  font-family: $robot-thin;
  z-index: 100;

  .skill-name {
    margin-right: remcalc(10);
  }

  .skill-chart-line {
    position: relative;
    width: 100%;
    margin-right: remcalc(10);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: remcalc(2);
      margin: auto;
      background: $gradi-blue;
      transform: $skew-minus;
    }

    .skill-chart-line-percent {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: remcalc(4);
        margin: auto;
        background: $gradi-green;
        transform: $skew-minus;
      }
    }
  }
}

.back-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $clear-white;
  z-index: 1;
}
