.about {
  display: flex;
  flex-direction: column;
  padding: remcalc(25) remcalc(15);

  @include breakpoint(small) {
    flex-direction: row;
    padding: remcalc(65) remcalc(25);
  }

  .about-box-image {
    margin: remcalc(20) auto;
    @include breakpoint(small) {
      flex: 1 1 50%;
      padding: 0 remcalc(25) 0 0;
    }

    .about-image {
      width: 100%;

      @include breakpoint(small) {
        margin: auto auto remcalc(25);
      }
    }
  }

  .about-information {
    font-family: $robot-thin;

    @include breakpoint(small) {
      flex: 1 1 50%;
    }
  }
}

.about-name {
  letter-spacing: 1px;
}

.about-description {
  display: flex;
  margin: remcalc(15) auto;

  .about-description-left {
    flex: 1 1 40%;
    font-weight: $font-semi-bold;
  }

  .about-description-right {
    flex: 1 1 60%;
  }
}

.about-cv {
  display: flex;
  vertical-align: middle;

  @include breakpoint(medium) {
    @include just-rythm(20);
  }

  .about-cv-svg {
    height: remcalc(15);
    margin-right: remcalc(5);
    width: remcalc(15);

    @include breakpoint(medium) {
      width: remcalc(20);
      height: remcalc(20);
    }

    path {
      fill: $gradi-green;
    }
  }
}

.skills {
  padding: 0 remcalc(15) remcalc(25);
  position: relative;

  svg {
    width: remcalc(100);

    @include breakpoint(small) {
      width: 100%;
    }
  }
}

.skill-box {
  display: flex;
  flex-direction: row;
  padding: 0 remcalc(10);

  .skill-percent {
    position: relative;
    flex: 0 0 40%;
    height: remcalc(40);
    margin-right: remcalc(15);
    border: 1px solid $light-gray;
    transform: $skew-minus;
    margin-bottom: remcalc(15);

    .skill-percent-up {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: $gradient-blue-green-revers;
    }
  }

  .skill-name {
    flex: 0 0 60%;
    text-align: center;
    padding: remcalc(12) 0 0;
    font-family: $robot-thin;
  }
}

.skill-percent-text {
  display: block;
  margin: remcalc(10) remcalc(17);
  color: $clear-white;
  font-family: $robot-thin;
  font-weight: $font-semi-bold;
  transform: $skew-plus;
}

/****************  Second ****************/

.selector-box {
  display: flex;
  flex-direction: row;

  .one-selector-box {
    flex: 1 1 25%;
    margin: 1px;
    text-align: center;
    padding: remcalc(15);
    border: 1px solid $ease-gray;
    font-family: $robot-thin;
  }
}
