.contact {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: remcalc(105) remcalc(15) remcalc(25);
  font-family: $robot-thin;

  @include breakpoint(small) {
    flex-direction: row;
    height: 100vh;
    padding: 0;
  }

  @include breakpoint(large) {
    padding: remcalc(100) 0;
  }

  .about-information {
    width: calc(100% - 40px);
    height: 100%;
    margin: remcalc(25) auto 0;
    max-height: remcalc(250);

    @include breakpoint(small) {
      width: 40%;
      margin: 0 remcalc(15) auto auto;
    }

    @include breakpoint(large) {
      margin: 0 remcalc(35) auto auto;
    }
  }
}

label {
  display: block;
  padding: 0 0 remcalc(10) 0;
  color: $clear-white;
}

.form {
  width: 100%;
  max-width: remcalc(1200);
  margin: 0 remcalc(40);
  text-align: center;

  @include breakpoint(medium) {
    margin: 0 auto;
  }
}

.form-group {
  position: relative;
  height: remcalc(125);
  overflow: hidden;

  @include breakpoint(small) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  &:nth-child(4) {
    padding-bottom: remcalc(28);

    @include breakpoint(small) {
      padding-bottom: 0;
    }

    .form-focus {
      bottom: 46%;

      @include breakpoint(small) {
        bottom: 31%;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  > label {
    @include breakpoint(small) {
      flex: 1 1 35%;
      text-align: left;
    }
  }

  .form-control-wrapper {
    @include breakpoint(small) {
      position: relative;
      flex: 1 1 65%;
      width: 100%;
      height: remcalc(80);
      overflow: hidden;
    }
  }
}

.form-focus {
  position: absolute;
  left: 0;
  bottom: 29%;
  width: 100%;
  height: 2px;
  background: $gradi-green;
  transform: translate3d(-100%, 0, 0);
  transition: transform .3s;
  -webkit-transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform .3s;
}

.form-control {
  @include just-rythm(18);
  display: block;
  width: 100%;
  height: remcalc(25);
  padding: remcalc(15) remcalc(5);
  color: $space-white;
  background: transparent;
  text-align: center;
  border: none;
  border-bottom: 1px solid $gray;
  outline: none;

  &:focus + .form-focus {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.form-error {
  position: absolute;
  display: none;
  margin: 0 auto;
  padding: remcalc(4);
  color: $ease-red;
  @include just-rythm(14);
  left: 0;
  right: 0;
  bottom: remcalc(-4);
  border-radius: remcalc(20);
}

.has-error {
  .form-error {
    display: block;
  }

  .form-focus {
    background: $ease-red;
  }
}

.form-submit {
  display: block;
  position: relative;
  color: $clear-white;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  letter-spacing: 1px;
  @include just-rythm(18);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .3s ease;

  @include breakpoint(small) {
    @include just-rythm(20);
    margin: remcalc(65) auto 0;
  }

  &:before {
    content: '';
    position: absolute;
    width: 115%;
    height: 1px;
    margin: auto 0;
    background: $gradi-green;
    top: 0;
    bottom: 0;
    right: -5%;
    transition: all .5s ease;
    z-index: -1;
  }
}

.form-submit-disabled {
  cursor: not-allowed;
  transition: all .5s ease;

  &:before {
    content: '';
    height: 2px;
    background: $ease-border-red;
    z-index: 100;
  }
}

.alternative_contact {
  display: flex;
  flex-direction: column;

  .alternative_contact_box {
    margin: 0 auto remcalc(40);

    .alternative_contact_svg {
      width: 100%;
      max-width: remcalc(100);

    }
  }
}
