main {
  background: $middle-black;
}

.header-container {
  left: 0;
  right: 0;
}

.burger-click-region {
  cursor: pointer;
  height: remcalc(20);
  position: relative;
  width: remcalc(20);
}

.menu-burger {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .burger-menu-piece {
    background: $clear-gray;
    display: block;
    height: remcalc(2);
    position: relative;
    width: remcalc(30);

    &:nth-child(1) {
      top: -5px;

    }

    &:nth-child(3) {
      top: 5px;
      width: remcalc(20);
    }
  }

  .burger-menu-other {
    background: $middle-black;
    display: block;
    position: absolute;
    transition: background 1s ease;
    width: remcalc(2);
  }
}

.burger-menu-piece,
.burger-menu-other {
  &.is-click-menu {
    background: $gradient-blue-green !important;
  }
}

.logo-name {
  font-weight: $font-light;
  letter-spacing: remcalc(2);
  text-transform: uppercase;
  transition: color 1s ease;

  &.is-click-menu {
    color: $clear-white;

  }

}

.header-wrap {
  position: relative;

  .header-container {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: remcalc(1600);
    padding-bottom: remcalc(15);
    position: fixed;
    width: 100%;
    z-index: 1001;

    .pull-left {
      margin: remcalc(18) auto auto remcalc(15);

      @include breakpoint(small) {
        margin: remcalc(25) auto auto remcalc(25);
      }

      @include breakpoint(large) {
        margin: remcalc(25) auto auto remcalc(45);
      }

      @include breakpoint(extralarge) {
        margin: remcalc(25) auto auto remcalc(0);
      }
    }

    .pull-right {
      margin: remcalc(15) remcalc(20) auto auto;

      @include breakpoint(small) {
        margin: remcalc(25) remcalc(35) auto auto;
      }

      @include breakpoint(large) {
        margin: remcalc(25) remcalc(55) auto auto;
      }

      @include breakpoint(extralarge) {
        margin: remcalc(25) 0 auto auto;
      }
    }

    &.white {
      background: $clear-white;

      @include breakpoint(medium) {
        background: transparent;
      }
    }

    &.black {
      background: $middle-black;
      height: 0;
      padding: 0;

      .logo-name {
        color: $clear-white;
      }

      .burger-menu-piece {
        background: $clear-white;
      }
    }
  }

  &.is-click-menu {
    background: transparent;
    padding-bottom: 0;
  }
}

.hero {
  align-items: center;
  display: flex;
  height: calc(100vh - 30px);
  justify-content: center;
  padding: remcalc(15);

  @include breakpoint(medium) {
    flex-direction: row;
    height: calc(100vh - 50px);
    justify-content: space-between;
    padding: remcalc(25);
  }

  @include breakpoint(extralarge) {
    height: calc(100vh - 90px);
    padding: remcalc(45);
  }
}

/*********************************  HELLO *********************************/

.hello-svg {
  width: remcalc(210);
}

$width: 350px;
$stroke-width: 1.5px;


.demo {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #111;

  &__loader {
    width: $width;
    height: auto;

    animation: scale 5s ease infinite;
  }

  &__wave {
    stroke: url("#gradient1");
    stroke-width: $stroke-width;

    transform-origin: 0% 50%;
  }

  @for $i from 2 through 25 {
    &__wave:nth-child(#{$i}) {
      animation: rotate (2500 + random(200 * $i)) + ms linear infinite;
      stroke: url("#gradient#{random(3)}")
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.4);
  }

  100% {
    transform: scaleY(0.6);
  }
}

.me {
  position: absolute;
  bottom: 10px;
  left: 0;

  width: 100%;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;

  color: white;

  opacity: 0;
  transform: translateY(10px);
  animation: appear 0.6s 1;
  animation-fill-mode: forwards;
  animation-delay: 5s;

  & a {
    color: white;

    &:hover {
      color: lighten(#022A35, 25%);
    }
  }
}

@keyframes appear {
  to {
    transform: none;
    opacity: 1;
  }
}