main {
  //background: $clear-gray;
  //background-image: url("../img/stars.png");
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center;
}

.header-container {
  left: 0;
  right: 0;
}

.burger-click-region {
  cursor: pointer;
  height: remcalc(28);
  position: relative;
  width: remcalc(30);
  overflow-x: hidden;
}

.menu-burger {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .burger-menu-piece {
    background: $clear-gray;
    display: block;
    height: remcalc(3);
    position: relative;
    width: remcalc(30);
    border-radius: remcalc(25);

    &:nth-child(1) {
      top: -5px;

    }

    &:nth-child(3) {
      top: 5px;
    }
  }

  .burger-menu-other {
    background: $middle-black;
    display: block;
    position: absolute;
    transition: background 1s ease;
    width: remcalc(2);
  }
}

.logo-name {
  font-weight: $font-light;
  letter-spacing: remcalc(2);
  text-transform: uppercase;
  transition: color 1s ease;

  &.is-click-menu {
    color: $clear-white;

  }

}

.header-wrap {
  position: relative;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: remcalc(1600);
    padding-bottom: remcalc(15);
    position: fixed;
    width: 100%;
    z-index: 1001;

    .burger-menu-piece {
      background: $clear-white;
    }
  }

  &.is-click-menu {
    background: transparent;
    padding-bottom: 0;
  }
}

.pull-left {
  margin: remcalc(18) auto auto remcalc(15);

  @include breakpoint(small) {
    margin: remcalc(25) auto auto remcalc(25);
  }

  @include breakpoint(large) {
    margin: remcalc(25) auto auto remcalc(45);
  }

  @include breakpoint(extralarge) {
    margin: remcalc(25) auto auto remcalc(0);
  }

  .logo-name {
    color: $clear-white;
  }
}

.pull-right {
  margin: remcalc(15) remcalc(20) auto auto;

  @include breakpoint(small) {
    margin: remcalc(25) remcalc(35) auto auto;
  }

  @include breakpoint(large) {
    margin: remcalc(25) remcalc(55) auto auto;
  }

  @include breakpoint(extralarge) {
    margin: remcalc(25) 0 auto auto;
  }

  .burger-menu-piece,
  .burger-menu-other {
    &.is-click-menu {
      background: $gradient-blue-green;
      animation: open-burger 1.5s ease;
    }
  }
}

@keyframes open-burger {
  0% {
    background: $clear-white;
  }

  49% {
    background: $clear-white;
  }

  50% {
    background: $gradient-blue-green;
  }
}
/*********************************  HELLO *********************************/

.hello {
  width: 100%;
  max-width: remcalc(700);
  margin: 0 auto;

  @include breakpoint(large) {
    max-width: remcalc(800);
  }

  @include breakpoint(extralarge) {
    max-width: remcalc(1000);
  }
}

.hello-name {
  font-family: $robot-thin;
  @include just-rythm(12);
  text-align: left;
  margin-bottom: remcalc(-5);

  @include breakpoint(small) {
    @include just-rythm(26);
    margin: auto auto remcalc(-25) remcalc(20);
    font-weight: $font-thin;
  }
}

.hello-svg {
  position: relative;
  width: 100%;
  //margin: auto auto remcalc(25);

  .hello-cut {
    width: 100%;
    height: 100%;
  }

  .hello-developer {
    fill: $clear-white;
  }
}
