.grid-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto auto;
  padding-top: remcalc(60);
  position: relative;

  @include breakpoint(small) {
    padding-top: remcalc(40);
  }
}

.portfolio-item {
  width: 100%;
  text-align: center;
  z-index: 11;
  padding: 0 0 remcalc(20) 0;

  @include breakpoint(small) {
    position: relative;
    flex: 1 1 25%;
    width: 25vh;
    max-width: 100%;
    height: 25vh;
    margin: 0 auto;
    padding: 0;
  }

  .portfolio-title {
    position: relative;
    @include just-rythm(34);
    @include gradient-text;
    text-align: left;
    max-width: remcalc(260);
    text-transform: uppercase;

    @include breakpoint(small) {
      padding: remcalc(20) 0 remcalc(25);
    }
  }

 /* .portfolio-categories {
    @include just-rythm(14);
    color: $clear-white;
    font-family: $robot-thin;
    padding: 0 remcalc(10) remcalc(20);
  }*/
}

.portfolio-svg {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &.medium-width {
    width: remcalc(50);
    max-width: remcalc(50);
  }

  &.largest-width {
    width: remcalc(115);
    max-width: remcalc(115);
  }

  &.medium-height {
    height: remcalc(20);
    max-height: remcalc(20);
  }

  &.large-height {
    height: remcalc(45);
    max-height: remcalc(45);
  }
}

.portfolio-title-box {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .portfolio-box-name {
    @include just-rythm(24);
    background: $gradient-blue-green;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: remcalc(22);
    margin: auto auto remcalc(10);
    max-width: remcalc(215);
    position: relative;
    text-fill-color: transparent;

    @include breakpoint(large) {
      @include just-rythm(30);
    }
  }
}

.project-mini-categories {
  @include just-rythm(12);
  margin: 0 auto;
  padding: 0 0 remcalc(5);
  color: $clear-white;
  font-family: $robot-thin;
  text-align: center;
  letter-spacing: 1px;

  @include breakpoint(large) {
    @include just-rythm(20);
    max-width: remcalc(220);
  }

  &.left {
    text-align: left;
  }
}

.project-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
  position: absolute;
  width: 100%;
  z-index: 10;

  &.is-hover {
    animation: pulse .5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-link {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: 70%;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  margin: auto;
  //  background: $clear-black;
  //}

  &.is-mobile {
    display: flex;
    flex-direction: row;
  }
}

.portfolio-img {
  display: block;
  width: 100%;
  margin-bottom: remcalc(20);
}

.portfolio-arrow {
  display: inline-block;
  height: remcalc(15);
  margin-right: remcalc(15);
  padding-top: remcalc(3);
}

.portfolio-info-box {
  padding: remcalc(25) 0;
}

.separator-icon {
  width: remcalc(20);
  margin: remcalc(20) auto remcalc(-35);
}