.project {
  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
  }
}

.project-name {
  @include just-rythm(42);
  @include gradient-text;
  line-height: 37px;
  margin: 0 auto remcalc(10) 0;
  padding: remcalc(55) 0 0;
  text-transform: uppercase;
  letter-spacing: .5px;

  @include breakpoint(small) {
    @include just-rythm(60);
    margin: 0;
    padding: 0;
  }

  @include breakpoint(large) {
    @include just-rythm(70)
  }
}

.project-description {
  display: block;
  padding: remcalc(15) 0 remcalc(25);
  font-family: $robot-thin;

  @include breakpoint(small) {
    max-width: 50%;
    margin: 0 auto 0 10%;
    padding: remcalc(25) 0;
  }

  @include breakpoint(large) {
    @include just-rythm(18);
  }
}

.project-image-box {
  @include breakpoint(small) {
    margin-left: -23%;
  }

  @include breakpoint(large) {
    margin-left: -15%;
  }

  .project-image {
    width: 100%;
  }
}

.project-description-wrapper {
  @include breakpoint(small) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto remcalc(15);

  @include breakpoint(small) {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .project-technologies-shot {
    max-width: remcalc(100);

    @include breakpoint(small) {
      margin: 0 auto remcalc(25);
    }

    .project-technologies-img {
      width: 100%;
      transition: all .5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.number-of-project {
  @include just-rythm(20);
  font-family: $robot-thin;
  font-weight: $font-bold;

  @include breakpoint(small) {
    padding: 0;
    margin: 0;
  }

  @include breakpoint(large) {
    @include just-rythm(30);
  }

  span {
    @include just-rythm(70);

    @include breakpoint(large) {
      @include just-rythm(90);
    }
  }
}

.project-first-box {
  @include breakpoint(small) {
    display: flex;
    align-items: center;
    margin: remcalc(55) auto remcalc(15) 10%;
  }

  .project-name-position {
    @include breakpoint(small) {
      display: flex;
      flex-direction: column;
      margin-top: -5%;
    }
  }
}

.project-button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .next {
    order: 2;
    @include breakpoint(small) {
      order: 1;
    }
  }

  .next {
    order: 1;
    @include breakpoint(small) {
      order: 2;
    }
  }
}
